{% extends 'base/root_nav.html' %}
{% load static %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Liste des pièces</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Plan comptable</a></li>
              <li class="breadcrumb-item active">Toutes les pièces</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                  <div class="card-header">
                      <a class="btn btn-outline-success" href="{% url 'create_piece' %}">
                          Ajouter une piece <i class="fas fa-plus"></i>
                      </a>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table id="list" class="table table-bordered table-striped">
                      <thead>
                          <tr>
                              <th>Préfixe</th>
                              <th>Numéro</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for piece in pieces %}
                          <tr>
                            <td>{{ piece.prefixe.code }}</td>
                            <td>{{ piece.numero }}
                            </td>
                            <td>
                                {% if piece.fichier %}
                                <a href="{% get_media_prefix %}{{ piece.fichier }}" class="btn btn-info">
                                    <i class="fas fa-download"></i>
                                </a>
                                {% endif %}
                                <a class="btn btn-warning"
                                   href="{% url 'update_piece' id_object=piece.id %}">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a class="btn btn-danger"
                                    href="{% url 'update_piece' id_object=piece.id %}?remove">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                      <tfoot>
                          <tr>
                              <th>Prefixe</th>
                              <th>Numero</th>
                              <th>Actions</th>
                          </tr>
                      </tfoot>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block javascript %}
<script>
  $(function () {
    $("#list").DataTable({
      "language": get_datatable_lang(),
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
      "columnDefs": [{ "targets": -1, "orderable": false, "searchable": false }],
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    }).buttons().container().appendTo('#list_wrapper .col-md-6:eq(0)');
  });
</script>
{% endblock %}
