{% load static %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% get_media_prefix %}{{ societe.logo }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css'%}">
    <!-- Google Font: Source Sans Pro -->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">-->
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <!-- Toastr -->
    <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <!-- daterange picker -->
    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body class="sidebar-mini sidebar-collapse accent-{{ theme_accent }} {% block body_class %}{% endblock %}">
    <div class="wrapper">

        {% block preloader %}
        {% if request_method != 'POST' %}
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
          <img class="animation__shake" src="{% get_media_prefix %}{{ societe.logo }}" alt="AdminLTELogo" height="60" width="60">
        </div>
        {% endif %}
        {% endblock %}

        {% block navbar %}
        {% endblock %}

        {% block sidebar %}
        {% endblock %}


        {% block content %}
        {% endblock %}


        {% block footer %}
        {% endblock %}
    </div>

    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/adminlte.min.js' %}"></script>
    <!-- overlayScrollbars -->
    <script src="{%  static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
    <!-- jquery-validation -->
    <script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-validation/localization/messages_fr.min.js' %}"></script>
    <!-- DataTables  & Plugins -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <!-- Select2 -->
    <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'plugins/select2/js/i18n/fr.js' %}"></script>
    <script>
        // make nav-link parent active if one of the sub-menu is active
        $(document).ready(function () {
            $('.nav-link').each(function () {
                if ($(this).hasClass('active')) {
                    $(this).parent().parent().parent().addClass('menu-open');
                    $(this).parent().parent().parent().children('.nav-link').addClass('active');
                }
            });

            $('.select2bs4').select2({
                language: "fr",
                theme: 'bootstrap4'
            });
        });
    </script>
    <!-- Toastr -->
    <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
    <script>
        {% if success %}
            {% for s in success %}
            toastr.success('{{ s }}')
            {% endfor %}
        {% endif %}

        {% if infos %}
            {% for i in infos %}
            toastr.info('{{ i }}')
            {% endfor %}
        {% endif %}

        {% if errors %}
            {% for e in errors %}
            toastr.error('{{ e }}')
            {% endfor %}
        {% endif %}

        {% if warnings %}
            {% for w in warnings %}
            toastr.warning('{{ w }}')
            {% endfor %}
        {% endif %}
    </script>
    <!-- InputMask -->
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'plugins/inputmask/jquery.inputmask.min.js' %}"></script>
    <!-- date-range-picker -->
    <script src="{%  static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script>
        $('.date_range_picker').daterangepicker();
    </script>
    {% block javascript %}
    {% endblock %}
</body>
</html>