{% extends 'base/root_nav.html' %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ title }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Produit</a></li>
              <li class="breadcrumb-item active">{{ action|capfirst }}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <div class="col-12">
                {% if remove %}
                <div class="callout callout-danger">
                  <h5><i class="fas fa-info"></i> Attention:</h5>
                  La suppression d'un produit entraine la suppression de toutes les données qui lui sont liées.
                </div>
                {% endif %}
                <div class="card">
                  <div class="card-header">
                      <a class="btn btn-outline-secondary" href="{% url 'list_produit' %}">
                          Afficher la liste <i class="fas fa-list-alt"></i>
                      </a>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                          <!-- form start -->
                          <form id="form" method="post" enctype="multipart/form-data" {{ form_action|safe }}>
                              {% csrf_token %}

                              <div class="form-group">
                                  <label for="nom">Nom</label>
                                  <input type="text" id="nom" class="form-control" name="nom" placeholder="ex: Maïs"
                                         value="{{ nom }}" {% if remove %}disabled{% endif %}
                                         maxlength="100" required>
                              </div>

                              <div class="form-group">
                                  <label for="prix">Prix</label>
                                  <input type="number" id="prix" class="form-control" name="prix" placeholder="ex: 3000"
                                         value="{{ prix }}" {% if remove %}disabled{% endif %}
                                         min="0" required>
                              </div>

                              <div class="form-group">
                                  <label for="unite">Unité</label>
                                  <input type="text" id="unite" class="form-control" name="unite" placeholder="ex: Kg"
                                         value="{{ unite }}" {% if remove %}disabled{% endif %}
                                         maxlength="10" required>
                              </div>

                              <div class="form-group">
                                  <label for="stock">Quantité produit</label>
                                  <input type="number" id="stock" class="form-control" name="stock" placeholder="ex: 100"
                                         value="{{ stock }}" {% if remove %}disabled{% endif %}
                                         min="0" required>
                              </div>

                              <div class="form-group d-flex justify-content-center">
                                <button type="submit" class="btn btn-{{ color }} mr-5">
                                    {{ action|capfirst }}
                                    <i class="{{ icon }}"></i>
                                </button>
                              </div>
                          </form>
                  </div>
                  <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block javascript %}
<script>
$(function () {
    $('#form').validate({
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
    });
});
</script>
{% endblock %}