{% extends 'base/root_nav.html' %}
{% load humanize %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Bilan</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Bilan</li>
              <li class="breadcrumb-item active">Passif</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Exercice</label>
                                    <select class="select2bs4" style="width: 100%;" name="exercice_id">
                                        {% for c in exercices %}
                                            <option value="{{c.id}}" {% if c.id == exercice.id %}selected{% endif %}>{{ c }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label></label>
                                    <button type="submit" style="width: 100%; margin-top: 8px;"
                                            class="btn btn-info">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

        <div class="row"  id="myDiv">
          <div class="col-12">
            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> {{ societe }}
                    <small class="float-right"></small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  <div>
                    <strong>Exercice: </strong> {{ exercice }} <br>
                    <strong>Status: </strong>
                    {% if exercice.cloture %}
                        <span class="badge badge-success">Clôturé</span>
                    {% elif exercice == exercice_actuel %}
                        <span class="badge badge-warning">Exercice en cours</span>
                    {% else %}
                        <span class="badge badge-danger">Non clôturé</span>
                    {% endif %}
                    <br>
                    <strong>Unite monétaire: </strong> {{ societe.devise_compte }}<br>
                    <strong>Adresse: </strong> {{ societe.siege }}<br>
                  </div>
                     <button onclick="generatePDF()" class="btn btn-info">Imprimer
                            <i class="fas fa-print"></i>
                        </button>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <strong>Status Entreprise: </strong>{{societe.status_entreprise }} <br>
                    <strong>NIF: </strong>{{ societe.nif }}<br>
                    <strong>STAT: </strong>{{ societe.stat }}<br>
                    <strong>REG COMMERCE: </strong>{{ societe.reg_commerce }}<br>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
                <br>
              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Passif</th>
                        <th>Compte</th>
                        <th class="text-center">{{ exercice.fin }}</th>
                        <th>{{ exercice_avant.fin }}</th>
                      </tr>
                      <tr>
                          <th></th>
                          <th></th>
                          <th class="text-center">Montant</th>
                          <th></th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Capital émis</td>
                            <td>10</td>
                            <td>{{ capital|intcomma }}</td>
                    
                            <td></td>
                        </tr>
                        <tr>
                            <td>Réserves légales</td>
                            <td>11</td>
                            <td>{{ reserve_legale|intcomma }}</td>
                            
                            <td></td>
                        </tr>
                        <tr>
                            <td>Résultat en instance d'affectation
                            </td>
                            <td>12</td>
                            <td>{{ resultat_en_instance|intcomma }}</td>
                            
                            <td></td>
                        </tr>
                        <tr>
                            <td>Résultat net 
                            </td>
                            <td>12</td>
                            <td>{{ resultat_net|intcomma }}</td>
                          
                            <td></td>
                        </tr>
                        <tr>
                            <td>Autres capitaux propres 
                            </td>
                            <td>11</td>
                            <td>{{ autres_capitaux_propres|intcomma }}</td>
                            
                            <td></td>
                        </tr>
                       
                        <tr>
                            <th>Total des capitaux propres
                            </th>
                            <th></th>
                            <th>{{ total_capitaux|intcomma }}</th>
                            <th></th>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>Impôt différés</td>
                            <td>13</td>
                            
                            <td>{{ impots_differes|intcomma }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Emprunts/dettes à LMT part+1an
                            </td>
                            <td>161</td>
                            <td>{{ emprunts_dettes|intcomma }}</td>
                        </tr>
                      
                        <tr>
                            <th>Total passifs non-courants
                            </th>
                            <th></th>
                            <th>{{ total_passifs_non_courants|intcomma }}</th>
                            <th></th>
                        </tr>
                    </tbody>
                    <tbody>
                      <tr>
                          <td>Emprunts/dettes à LMT part-1an
                          </td>
                          <td>161</td>
                          <td>{{ emprunts_dettes_moins_1|intcomma }}</td>
                          <td></td>
                      </tr>
                      <tr>
                        <td>Dettes court terme 
                        </td>
                        <td>165</td>
                        <td>{{ dettes_court_terme|intcomma }}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Fournisseurs et comptes rattachés
                        </td>
                        <td>4</td>
                        <td>{{ fournisseurs|intcomma }}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Avances reçues des clients
                        </td>
                        <td>4</td>
                        <td>{{ avances_recues|intcomma }}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Autres dettes
                        </td>
                        <td>4</td>
                        <td>{{ autres_dettes|intcomma }}</td>
                        <td></td>
                      </tr>
                    <tr>
                      <td>Comptes de trésorerie 
                      </td>
                      <td>5</td>
                      <td>{{ comptes_et_tresorerie|intcomma }}</td>
                      <td></td>
                    </tr>
                    <tr>
                            <th>Total des capitaux propres
                            </th>
                            <th></th>
                            <th>{{ total_capitaux|intcomma }}</th>
                            <th></th>
                    </tr>
                    <tr>
                            <th>Total des passifs courants
                            </th>
                            <th></th>
                            <th>{{ total_passifs_courants|intcomma }}</th>
                            <th></th>
                        </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                </div>
                <!-- /.col -->
                <div class="col-6">
                  <p class="lead"></p>

                  <div class="table-responsive">
                    <h3>Total des capitaux propres et passifs</h3>
                    <table class="table">
                        <tr>
                            <th>{{ total_capitaux_propres_passifs|intcomma }}</th>
                        </tr>
                        
                    </table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <style>
    .table td:not(:first-child), .table th:not(:first-child) {
        text-align: right;
    }
    .table .indent {
        text-indent: 10%;
    }
  </style>
  {% endblock %}