{% extends 'base/root_nav.html' %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Historique des informations</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Société</a></li>
              <li class="breadcrumb-item active">Historique</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-warning" href="{% url 'modifier_historique_societe' %}">
                            <i class="fas fa-edit"></i>
                            Modifier les informations
                        </a>
                        <button class="btn btn-info" data-toggle="modal" data-target="#import_file">
                            <i class="fas fa-file-import"></i>
                            Renouveler un fichier
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="timeline timeline-inverse">
                          {% for historique in historiques %}
                          <!-- timeline time label -->
                          <div class="time-label">
                            <span class="bg-secondary">
                              {{ historique.date }}
                            </span>
                          </div>
                          <!-- /.timeline-label -->
                          <!-- timeline item -->
                          <div>
                            <i class="{{ historique.icon }} bg-{{ historique.color }}"></i>

                            <div class="timeline-item">
                              <!--<span class="time"><i class="far fa-clock"></i> 12:05</span>-->

                              <h3 class="timeline-header bg-{{ historique.color }}">{{ historique.title }}</h3>

                              {% if historique.content %}
                              <div class="timeline-body">
                                {{ historique.content|safe }}
                              </div>
                              {% endif %}
                              <!--<div class="timeline-footer">
                                <a href="#" class="btn btn-primary btn-sm">Read more</a>
                                <a href="#" class="btn btn-danger btn-sm">Delete</a>
                              </div-->
                            </div>
                          </div>
                          <!-- END timeline item -->
                          {% endfor %}
                      <div>
                        <i class="far fa-clock bg-gray"></i>
                      </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
    <!-- /.content-wrapper -->

        <div class="modal fade" id="import_file" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Importation de fichier</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="import-button">
                    <span aria-hidden="true">×</span>
                    </button>
                    </div>
                <div class="modal-body">
                    <div class="callout callout-info">
                      <h5><i class="fas fa-info"></i> Note:</h5>
                        Le fichier doit être un .pdf ou un fichier image
                    </div>
                    <form method="post" enctype="multipart/form-data" action="{% url 'import_fichier_societe' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="type">Quel fichier ?</label>
                            <select name="type" id="type" class="form-control select2bs4">
                                <option value="1">Logo</option>
                                <option value="2">Scan NIF</option>
                                <option value="3">Scan STAT</option>
                                <option value="4">Scan registre de commerce</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="file">Sélectionner le fichier</label>
                            <input type="file" class="form-control" placeholder="Importer .csv" name="file" id="file">
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <button type="submit" class="btn btn-success mr-5">
                                    Importer <i class="fas fa-file-import"></i>
                            </button>
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
<script>
</script>
{% endblock %}