{% extends 'base/root_nav.html' %}
{% load static %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Liste des exercices</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Journal</a></li>
              <li class="breadcrumb-item active">Tous les exercices</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                  <div class="card-header">
                      <a class="btn btn-outline-success" href="{% url 'create_exercice' %}">
                          Ajouter un exercice <i class="fas fa-plus"></i>
                      </a>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table id="list" class="table table-bordered table-striped">
                      <thead>
                          <tr>
                              <th>Status</th>
                              <th>Debut</th>
                              <th>Fin</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for exercice in exercices %}
                          <tr>
                            <td>{% if exercice.cloture %}
                                    <span class="badge badge-success">Cloturé</span>
                                {% elif exercice == exercice_actif %}
                                    <span class="badge badge-primary">Actif</span>
                                {% else %}
                                    <span class="badge badge-warning">Non cloturé</span>
                                {% endif %}
                            </td>
                            <td>{{ exercice.debut }}</td>
                            <td>{{ exercice.fin }}</td>
                            <td>
                                {% if not exercice.cloture %}
                                <button class="btn btn-success" data-toggle="modal" data-target="#confirmation_cloture{{ exercice.id }}">
                                    <i class="fas fa-check"></i>
                                </button>
                                {% endif %}
                                <a class="btn btn-warning"
                                   href="{% url 'update_exercice' id_object=exercice.id %}">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a class="btn btn-danger"
                                    href="{% url 'update_exercice' id_object=exercice.id %}?remove">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                <div class="modal fade" id="confirmation_cloture{{ exercice.id }}" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                Confirmation
                                            </div>
                                            <div class="modal-body">
                                                <div class="callout callout-danger">
                                                  <h5><i class="fas fa-exclamation-triangle"></i> Note:</h5>
                                                    Le fait de cloturer un exercice entraine la cloture de tous les journaux de l'exercice.
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                                                    <a class="ml-2 d-block btn btn-outline-danger" href="{% url 'cloturer_exercice' exercice_id=exercice.id %}">
                                                        Cloturer <i class="fas fa-check"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                      <tfoot>
                          <tr>
                              <th>Status</th>
                              <th>Debut</th>
                              <th>Fin</th>
                              <th>Actions</th>
                          </tr>
                      </tfoot>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block javascript %}
<script>
  $(function () {
    $("#list").DataTable({
      "language": get_datatable_lang(),
      "columnDefs": [{ "targets": -1, "orderable": false, "searchable": false }],
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
    }).buttons().container().appendTo('#list_wrapper .col-md-6:eq(0)');
  });
</script>
{% endblock %}
